#!/bin/sh
'{{monasca_virtualenv_dir}}/bin/monasca-setup' \
    -u '{{monasca_agent_user}}' \
    -p '{{monasca_agent_password}}' \
    {% if monasca_agent_service is defined %} -s '{{monasca_agent_service}}' {% endif %} \
    --keystone_url '{{keystone_url}}' \
    --project_name '{{monasca_agent_project}}' \
    {% if monasca_api_url is defined %} --monasca_url '{{monasca_api_url}}' {% endif %} \
    {% if monasca_agent_dimensions is defined %} --dimensions '{{monasca_agent_dimensions}}' {% endif %} \
    {% if monasca_agent_check_frequency is defined %} --check_frequency '{{monasca_agent_check_frequency}}' {% endif %} \
    {% if monasca_agent_system_only %} --system_only {% endif %} \
    {% if monasca_log_level is defined %} --log_level '{{monasca_log_level}}' {% endif %} \
    {% if monasca_agent_overwrite_config %} --overwrite{% endif %} \
    --monasca_statsd_port '{{ monasca_agent_statsd_port|int }}'
